.m{
   
    text-align: center;
    padding: 0px 8px;
    margin: 0px;
    width: 250px;
    height: 480px;
    vertical-align: top;
    display: inline-block;
}
.v{
    margin: 15px;
    text-align: center;
}

.s{
  text-align: center;
 
}
.chef{
    text-align: center;
    
    
}
.chef1{
    width: 600px;
}
.p{
    display: inline-block;
    text-align: center;
    margin:;   
    padding: 0 8 ;
}